# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

banman/out

# Ignore IntelliJ Idea files
.idea

# VSCode
/.project
/.settings/
/banman/.classpath
/banman/.project
/banman/.settings/
/banman/bin
